<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>orbitalSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0B6EC111ED928C8005EBE9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0B6EC271ED928C9005EBE9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0B6EC321ED928C9005EBE9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
